body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  align-items: center;
  justify-content: center;
}

header {
  background: #007bff;
  color: white;
  padding: 1rem;
  text-align: center;
  justify-content: center;
}

main {
  padding: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

button {
  padding: 0.6rem 1rem;
  margin: 0.3rem;
  border: none;
  border-radius: 4px;
  background: #007bff;
  color: white;
}

button.secondary {
  background: #6c757d;
}
button.danger {
  background: #dc3545;
}

.hidden {
  display: none;
}

table {
  width: 80%;
  border-collapse: collapse;
  background: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: center;
}

td input {
  padding: 5px;
  width: 90%;
  height: 100%;
  border: 0rem;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 1rem;
  border-radius: 6px;
  width: 90%;
  max-width: 400px;
}

/* Style the modal content (optional, default styles are provided by browsers) */
#playerModal {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 500px;
  margin: auto; /* Centers the modal */
}

/* Style the overlay/backdrop */
#playerModal::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}
